.DS_Store
shell00/ex02/test1
shell00/ex02/test3
shell00/ex02/test4
shell00/ex02/test5
shell00/ex02/test6
shell01/ex02/shshjesuispas
shell01/ex02/test/
shell01/ex02/test00.sh
shell01/ex02/testjesuisuntest.sh
shell01/ex03/test/
shell01/ex03/testets
shell01/ex05/
